// Styles for the books page

.view {

  &.view-book-view {

    .view-content {
      .views-row {

        a.table {
          display: table;
          width: 100%;
          height: 300px;
          // @include box-shadow(rgba(0,0,0, .15) 0 0 5px);
          border: solid 3px #f7f7f7;
          background-color: #fff;

          &:hover {
            border-color: darken(#f5f8f9, 5);
            background-color: #f5f8f9;
          }

          span.table-row {
            display: table-row;

            span.table-cell {
              display: table-cell;
              vertical-align: top;
            }

            &:nth-child(1) {
              span.table-cell {

                padding: 30px 30px 10px 30px;
                vertical-align: middle;

                h3 {
                  font-size: 1rem;
                  margin: 0;
                }
              }
            }

            &:nth-child(2) {
              span.table-cell {
                padding: 0 30px;

                p {
                  margin: 0;
                  color: #333;
                }
              }
            }

            &:nth-child(3) {
              span.table-cell {

                padding: 30px;
                vertical-align: bottom;

                .button {
                  margin: 0;
                }
              }
            }
          }
        }

      }
    }

    @media (min-width: 600px) {
      .views-row {
        float: left;
        width: percentage(1/3);
        padding: 5px;



      }
    }

  }
}
