.panel-book-content {
  article {
    //border-bottom: none !important;
  }

  // Horizontal list for book-navigation page-links
  div.book-navigation{
  	//background: red !important;
    div.page-links {
      ul {
        @include horizontal-list;

        li{
          width: 33%;
          text-align: center;

          .page-up {
            display: inline;
            float: none;
          }
        }
      }
    }
  }
} // end panel-book-content




@media all and (min-width: 376px) {  //Removing mobile-navigation
  .mobile-navigation {
    display: none;
  }

}



@media only screen and (max-width: 375px) {
  .main-navigation {
    //display: none;
  }
}