/* line 46, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.panel-book-feature-one:before, .panel-book-feature-one:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.panel-book-feature-one:after {
  clear: both;
}
/* line 13, ../sass/book_feature_one.scss */
.panel-book-feature-one .panel-panel.panel-content {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
