@import "zen";

$zen-column-count: 1;

$zen-gutter-width: 10px; 

.panel-book-feature-one {
  @include zen-grid-container;

  .panel-panel {
    // Stuff for all panels her
    
    &.panel-content{
      @include zen-grid-item(1, 1);
    }
  }

}
