@import "zen";

$zen-column-count: 1;

$zen-gutter-width: 10px; 

.panel-book-feature-two {
  @include zen-grid-container;

  .panel-panel {
    // Stuff for all panels her
    
    &.panel-book-side{
      @include zen-clear();
      @include zen-grid-item(1, 1);
    }

    &.panel-book-content{
      
      @include zen-grid-item(1, 1);
    }

    
  }
  
  @media all and (min-width: 680px) {  //wide screen
    $zen-column-count: 12;
    .panel-panel {
      // Stuff for all panels her
      
      &.panel-book-side{
        clear: none;
        @include zen-grid-item(3, 1);
      }

      &.panel-book-content{
        @include zen-clear();
        @include zen-grid-item(9, 4);

      }
    
    }
  }

  /* In lillyhammer theme $small-screen: 680px;----------- */
  @media only screen and (max-width : 679px) {
  /* Styles */
      .panel-panel {
    // Stuff for all panels her
    
      &.panel-book-side{
        display:none;
      }

      &.panel-book-content{
        .pane-node-content {
          //padding-bottom: 10px;
        }
      }

    }
  }

}

