/* line 7, ../sass/book_feature_two.scss */
.panel-book-feature-two {
  /* In lillyhammer theme $small-screen: 680px;----------- */
}
/* line 46, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.panel-book-feature-two:before, .panel-book-feature-two:after {
  content: "";
  display: table;
}
/* line 50, ../../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
.panel-book-feature-two:after {
  clear: both;
}
/* line 13, ../sass/book_feature_two.scss */
.panel-book-feature-two .panel-panel.panel-book-side {
  clear: left;
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
/* line 18, ../sass/book_feature_two.scss */
.panel-book-feature-two .panel-panel.panel-book-content {
  float: left;
  width: 100%;
  margin-left: 0%;
  margin-right: -100%;
  padding-left: 5px;
  padding-right: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}
@media all and (min-width: 680px) {
  /* line 31, ../sass/book_feature_two.scss */
  .panel-book-feature-two .panel-panel.panel-book-side {
    clear: none;
    float: left;
    width: 25%;
    margin-left: 0%;
    margin-right: -25%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 36, ../sass/book_feature_two.scss */
  .panel-book-feature-two .panel-panel.panel-book-content {
    clear: left;
    float: left;
    width: 75%;
    margin-left: 25%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
@media only screen and (max-width: 679px) {
  /* line 7, ../sass/book_feature_two.scss */
  .panel-book-feature-two {
    /* Styles */
  }
  /* line 51, ../sass/book_feature_two.scss */
  .panel-book-feature-two .panel-panel.panel-book-side {
    display: none;
  }
}
